$primary-color: #048277;
$secondary-color: #5f6d77;
$title: 500;

.administration {
    .category-title {
        background-color: $primary-color;
        padding: 13px 0;
        margin-top: 35px;
        
        p {
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    .categories {
        li {
            background: transparent;
            font-size: 14px;
            padding: .85rem 0;
            color: $secondary-color;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        li:hover {
            color: orangered;
        }
    }

    .campus-card {
        height: 270px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        color: $primary-color;
        cursor: pointer;
        transition: all 0.3s ease;

        .icon {
            font-size: 50px;
        }
    }

    .campus-card:hover {
        background-color: $primary-color;
        color: #fff;
    }

    p {
        color: $secondary-color;
        font-size: 14px;
        margin-bottom: 6px;
    }

    table {
        width: 100%;
        margin-left: 30px;
    }

    td {
        color: $secondary-color;
        font-size: 14px;
        margin-bottom: 4px;
        width: 33.3333%;
        vertical-align: middle;
    }

    .title {
        font-weight: $title;
        color: #3f4a52;
        font-size: 15px;
    }
}