$primary-color: #048277;
$secondary-color: #5f6d77;

.infrastructure {
    .title {
        background-color: $primary-color;
        padding: 8px;

        p {
            font-size: 16px;
            font-weight: 500;
            color: #fff;
        }
    }

    td {
        padding: 5px 12px;
        color: $secondary-color;
    }
}