.message {
    p {
        margin-bottom: 30px;
        font-size: 14px;
        text-align: justify;
        color: #54626d;
    }

    img {
        width: 305px;
    }

    @media (min-width: 768px) {
        img {
            width: 100%;
        }
    }
}