$primary-color: #048277;

.profile {
    color: #3d3d3d;

    p {
        font-size: 14px;
    }

    .profile-of {
        background-color: $primary-color;
        padding: 8px;

        p {
            font-size: 16px;
            color: #fff;
            font-weight: 500;
        }
    }

    li {
        font-size: 15px;
        background-color: $primary-color;
        color: #fff;
        cursor: pointer;
        border: none;
        transition: all 0.5s ease;
    }

    .middle {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        border-left-width: 1px;
    }

    li:hover {
        background-color: #fff;
        color: #2a2a2a;
    }

    .active {
        background-color: #dee2e6;
        color: orangered;
    }

    th, td {
        font-size: 14px;
        padding: 0.5em;
    }
}