$primary-color: #048277;

body {
    background-color: #f2f2f2;
}

p {
    margin: 0;
}

.button {
    border: 1px solid $primary-color;
    color: #fff;
    border-radius: 3px;
    padding: 8px;
    background-color: $primary-color;
    font-size: 13px;
    font-weight: 500;
    transition:  all 0.3s;
}

.button:hover {
    background-color: transparent;
    color: $primary-color;
}

.navbar-container {
    background-color: $primary-color;
    color: #fff;
    padding: 0 1rem 0 6rem;

    @media (max-width: 992px) {
        padding: 0 15px;
    }

    img {
        width: 88px;
    }

    @media (max-width: 576px) {
        img {
            width: 65px;
        }
    }

    h1 {
        font-family: 'Poppins' , sans-serif !important;
        font-weight: 600;
        letter-spacing: 1px;
        padding-top: 5px;
    }

    @media (max-width: 992px) {
        h1 {
            font-size: 25px;
        }
    }

    @media (max-width: 700px) {
        h1 {
            font-size: 20px;
        }
    }

    .nav-link {
        color: #fff !important;
        font-weight: 400;
        transition: all 0.3s;
    }

    .nav-link:hover {
        background-color: #fff;
        color: #000 !important;
    }

    .dropdown-item {
        font-size: 14px;
        padding: 0.70rem 1.5rem;
    }

    .dropdown-menu {
        border-top: 8px solid $primary-color !important;
    }
}

marquee {
    border: 2px 0 solid lightgray;
    box-shadow: 1px 1px 2px #f0fff8;
    background-color: #fff;
    padding: 8px;
    margin-bottom: 10px;
    font-weight: 500;
    color: gray;
}

.event-card, .noticeboard-card {
    border-radius: 5px;
    border: 1px solid $primary-color;

    .cardHeader {
        background-color: $primary-color;
        color: #fff;
        padding: 8px 13px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .sub-card {
        border-bottom: 1px dotted rgb(0, 0, 0);

        p {
            font-size: 14px;
        }

        small {
            font-size: 12px;
        }

        .show-details {
            cursor: pointer;
        }
    }

    .sub-card:last-child {
        border: none;
    }
}

.principal-card {
    border-radius: 5px;
    border: 1px solid $primary-color;
    height: 100%;

    .place-container {
        background-color: $primary-color;
        height: 37px;
    }
}

.footer {
    background-color: #060525;
    margin-top: 70px;
    color: #c0c0c0;

    h6 {
        font-size: 14px;
        border-bottom: 1px solid #211d57;
        padding-bottom: 10px;
        margin-bottom: 14px;
    }

    p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    small {
        font-size: 11px;
    }

    .icon {
        margin-right: 10px;
        background-color: #1f1e2c;
        font-size: 38px;
        padding: 7px;
        border-radius: 3px;
        cursor: pointer;
        transition:  all 0.3s;
    }

    .icon:hover {
        background-color: $primary-color;
        color: #fff;
    }

    .facebook {
        padding: 5px 5px !important;
        font-size: 38px;
        width: 38px;
    }
}

.fact-container {
    background-image: linear-gradient(#060525da, #060525da), url('../Images/1534323249429.jpg');
    background-position: center;
    background-size: cover;

    h2 {
        text-align: center;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 600;
        color: #fff;
        padding-bottom: 30px;
    }

    .fact-card {
        h1 {
            font-weight: 600;
            font-size: 60px;
            margin-bottom: 30px;
        }
        h1::after {
            content: " ";
            display: block;
            width: 40px;
            height: 3px;
            background-color: $primary-color;
            position: absolute;
            left: 43%;
        }
        button:hover {
            color: #fff;
            border-color: #fff;
        }
    }
}

.chose-link-card {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    height: 338px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;

    img {
        width: 70%;
        transition: all 0.5s ease;
    }

    .chose-link-info {
        font-size: 14px;
        color: #fff;
        text-align: justify;
        display: none;
        transition: all 0.5s ease;
    }

    .position {
        position: absolute;
        bottom: 0;
        padding-bottom: 25px;
        text-align: center; 
        left: 35%;
    }
}

.chose-link-card:hover {
    background-color: $primary-color;
    color: #fff;

    img {
        width: 50%;
    }

    .chose-link-info {
        display: block;
    }

    button {
        color: #fff;
        border-color: #fff;
    }
}

.gallery {
    h2 {
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }

    div {
        overflow: hidden;
    }

    img {
        transform: inherit;
        transition: all 0.3s ease;
    }

    img:hover {
        transform: scale(1.5);
    }
}

.scroll-to-top {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $primary-color;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    position: fixed;
    z-index: 2;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}