.subheader {
    background-image: linear-gradient(#020205c7, #020205c7), url('../Images/2.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: #fff;

    h1 {
        font-family: 'Poppins' , sans-serif !important;
        font-weight: 600;
    }
}